/* App.css */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 1200px;
}


.search-button-container button {
  background-color: #969696;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-button-container button:hover {
  background-color: #676767;
}

.search-button-container button:focus {
  outline: none;
  box-shadow: 0 0 5px #676767(0, 123, 255, 0.5);
}

.search-button-container button:active {
  background-color: #676767;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}


.filter-section {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #969696;
}

.filter-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.filter-section-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.filter-section-toggle {
  display: flex;
  align-items: center;
}

.filter-section-toggle input {
  margin-right: 5px;
}

.filter-section-content {
  margin-top: 10px;
}

.filter-option {
  margin-bottom: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkbox-label input[type="checkbox"] {
  appearance: none; /* Remove default checkbox styling */
  -webkit-appearance: none; /* Remove default checkbox styling in WebKit browsers */
  background-color: #ccc; /* Gray background */
  border: 1px solid #888; /* Slightly darker gray border */
  width: 18px;
  height: 18px;
  border-radius: 3px; /* Optional: Make corners slightly rounded */
  cursor: pointer;
  position: relative;
}

.checkbox-label input[type="checkbox"]:checked {
  background-color: #888; /* Darker gray when checked */
  border: 1px solid #666; /* Darker border when checked */
}

.checkbox-label input[type="checkbox"]:checked::before {
  content: '\2713'; /* Unicode character for checkmark */
  color: white; /* White checkmark */
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.checkbox-label input[type="text"] {
  flex-grow: 1; /* Make the input field take up the remaining space */
  margin-left: 10px; /* Add some space between the checkbox and input */
  padding: 5px; /* Optional: Add some padding for better appearance */
}


.logo-container {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.izto-logo {
  max-width: 500px;
  height: auto;
  margin-bottom: -10px;
}

.main-title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: -1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.search-button-container {
  text-align: right;
  margin-bottom: -40px;
}

.app-main-container{
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  padding: 80px;
  padding-top: 35px;  
  padding-bottom: 50px; 
}
